@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: "Roboto", sans-serif;
}

section{
    padding: 60px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
h1{
    text-align: center;
    padding: 20px 0;
    font-weight: 600;
}
/* menu btn styling */
/* .menu-btn{
    color: #111;
    font-size: 18px;
    cursor: pointer;
    display: none;
} */
.menu {   
    position: fixed;
    background-color: #fff;   
    width: 100%;
    z-index: 999;
    padding: 10px 0px 30px 5px;
    font-family: "Roboto", sans-serif;
    transition: all 0.3s ease;
}
.menu .menu-bar li {   
    list-style: none;
    display: inline-block;
}
.menu .menu-bar li a{   
    color: #111;
    font-size: 18px;
    font-weight: 600;
    margin-left: 25px;
}
.menu .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu.sticky{    
    padding: 20px 0;
    background: #f5f5f5;     
    top:0;
}
.menu.sticky a:hover{    
    color: #bdbcce;
}
.menu .menu-icon a{
    padding: 20px 10px;
    text-align: center;    
}
.menu.sticky .menu-icon a {
    color: #fff;
}
.menu.sticky .menu-bar li a:hover{
    color: #111;
}
.menu .fas {
    padding: 0 10px;
}
.menu .fas:before {
    margin-right:0.5em
}
.menu .menu-home { 
    text-decoration: underline;
}
.menu-bar li a:hover{
    text-decoration: underline;
    color: #60b759;
}

/*  home section*/
.home{
    display: flex;
    background: url("images/Banner-.jpg") no-repeat center;
    height: 50vh;
    color: #fff;
    min-height: 600px;
    background-size: cover;     
}
.home .max-width{
    width: 100%;
    display: flex;   
}
.home .home-content{
    position: absolute;
    top: 65%;
    left: 70%;
    transform: translate(-40%, -60%);
}
.home .home-content .text-1{
    font-size: 50px;
    padding: 16px 0;
    font-weight: 780;
    color: #111;    
}
.home .home-content .text-2{
    font-size: 15px;
    font-weight: 100;
    margin: 16px 0;
    color: #111;
}

.home .home-content a{
    display: inline-block;
    background:#111;
    color: #fff;
    font-size: 18px;
    padding: 12px 50px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 1px;
    border: 1px solid #111;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: #fff;
    background: #60b759;
    border: 1px solid #fff;
}

/* pages section styling*/
.pages .pages-list{
    margin: auto;    
    display: flex;    
    justify-content: space-between;    
}
.home .max-width{
    width: 100%;
    
}
.pages .pages-list img{
    height:390px;
    width: 360px;
    object-fit: cover;
    border-radius: 3px;
}
.pages .pages-list .pages-item{    
    position: relative;
    text-align: left;
    color: #111;
}
.pages .pages-detail{
    position: absolute;
    width: 100%;
    top: 50px;
    left: 16px;
    padding: 10px 30px;  
    margin: 0 auto;
    font-size: 12px;      
    cursor: pointer;
}
.pages .pages-item{   
    transition:transform .4s ;
}
.pages .pages-item:hover{   
    transform: scale(1.02); 
}
.pages .pages-detail h2{    
    width: 70%;
    padding: 30px 0;  
    font-size: 30px; 
    font-weight: 789;
}
.pages .pages-detail h3{    
    font-weight: 600;
}

/* bar styling */
.center-bar {
    list-style: none;
    display: flex;  
    justify-content: center;  
    margin-top: 30px;
    font-size: 18px;
    overflow: hidden;
}
.center-bar li  {
    padding: 0 20px 10px 20px;
}
.center-bar li a {
    color: #111;
    font-weight: 600;
}
.center-bar .active{
    text-decoration: underline;
}
.center-bar li a:hover{
    color: #60b759;
    text-decoration: underline;
}

/* product section styling */
section#product.product{
    padding: 20px 0;
}
.product .max-width{
    width: 100%;
    /* display: flex;    */
}
.product .product-list{
    margin: auto;    
    display: flex;   
    flex-wrap: wrap;     
    justify-content: space-between; 
}
.product .product-item{    
    /* display: inline-block; */
    position: relative;
    padding: 30px 10px; 
    width: 25%;
    transition:transform .4s ;
    will-change: transform;
}
.product .product-item:hover{   
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
    transform: translateY(-0.5em);
}
.product .product-list img{
    height:300px;
    width: 270px;
    object-fit: cover;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;

}
.product .product-detail{
    padding-top: 20px;
    margin-right: 3px;
    display: flex;
    justify-content: space-between;
}


/* contact section styling */
section#contact.contact{
    padding: 20px 0;
}
.contact .contact-content{
    /* position: relative; */
    background-color: #faf1ec;        
    height: 250px;
    width: 90%;
    margin: auto;
}
.contact #contact-input {    
    border: none !important;
    border-color: transparent !important;
    text-align: center;
    padding: 30px 0;    
}
.contact a{
    display: flex;
    background:#111;
    color: #fff;
    width: 11%;
    font-size: 18px;
    padding: 12px 50px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 1px;
    border: 1px solid #111;
    margin: auto;
}
.contact a:hover{
    background-color: crimson;
}
.contact #text{
    padding: 5px 5em;
    text-align: center;    
}
/* footer styling */
.row{
    display: flex;
    margin: auto;    
    justify-content: center;


}
.col{
    margin: 20px 2.5em;
}
.footer{
    width: 100%;    
    border-top: 4px solid #111;
    background-color: #111; 
    margin-top: 3em;   
}

.footer-heading{
    font-size: 500;
    margin-top: 5em;
    /* text-transform: uppercase; */
    color: #fff;
}
.footer-list{
    padding: 20px 0;
    list-style: none;
}

.footer-list-item-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 6px 0;
}

.footer-list-item-link:hover{
    color: crimson
}

.footer-list-item-icon{
    font-size: 1.6rem;
    margin: -1px 8px 0 0;
}

.footer__download{
    display: flex;
}

.footer__download-qr{
    width: 80px;
    border: 1px solid #111;
}

.footer__download-apps{
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer__download-app-link{
    color: transparent;
    text-decoration: none;
}

.footer__download-app-img{
    height: 20px;
}

.footer__copryright{
    padding: 8px 0;
    background-color: #111;
    margin-top: 32px;
}

.footer__copryright-text{
    margin: 0 auto;
    font-size: 1rem;
    color: #737373;
}

/* responsive  media start */
@media (max-width: 991px){
    .max-width{       
        padding: 0 10px;
    } 
    .pages .pages-list{
        margin: auto;    
        display: flex;   
        flex-wrap: wrap;             
        justify-content: space-between; 
    }
    .pages .pages-list img{
        height:100px;
        width: 130px;
        object-fit: cover;
        border-radius: 3px;
    }
    .pages .pages-detail h2{    
        width: 60%;
        padding: 30px 0;  
        font-size: 20px; 
        font-weight: 789;
    }
    .pages .pages-detail h3{    
        font-weight: 600;
        font-size: 10px;
    }
    .product .product-list{        
        margin: auto;    
        display: inline-block;   
        /* flex-wrap: wrap;              */
        justify-content: space-between; 
    }
    .product .product-list img{  
        height:150px;
        width: 150px;
    }

    .product .product-item{
        /* display: flex; */
        padding: 10px 10px;        
    }
}
@media (max-width: 1116px){
    .max-width{       
        padding: 0 10px;
        max-width: 1110px;

    } 
    .pages .pages-list{
        margin: auto;    
        display: flex;   
        flex-wrap: wrap;             
        justify-content: space-between; 
    }
    .pages .pages-list img{
        height:350px;
        width: 320px;
        object-fit: cover;
        border-radius: 3px;
    }
    .pages .pages-detail h2{    
        width: 60%;
        padding: 30px 0;  
        font-size: 20px; 
        font-weight: 789;
    }
    .pages .pages-detail h3{    
        font-weight: 600;
        font-size: 10px;
    }
    .product .product-list{        
        margin: auto;    
        display: flex;   
        flex-wrap: wrap;             
        justify-content: space-between; 
    }
    .product .product-list img{  
        height:300px;
        width: 250px;
        object-fit: cover;
        border-radius: 3px;
    }

    .product .product-item{
        /* display: flex; */
        padding: 10px 10px;        
    }
}

@media (max-width: 500px){
    .max-width{       
        padding: 0 10px;
    } 
    .pages .pages-list{
        margin: auto;    
        display: inline-block;   
        flex-wrap: wrap;             
        justify-content: space-between; 
    }
    .pages .pages-list img{
        height:400px;
        width: 400px;
        object-fit: cover;
        border-radius: 3px;
    }
    .pages .pages-detail h2{    
        width: 60%;
        padding: 30px 0;  
        font-size: 20px; 
        font-weight: 789;
    }
    .pages .pages-detail h3{    
        font-weight: 600;
        font-size: 10px;
    }
    .center-bar{
        font-size: 8px;
    }
    .product .product-list{        
        margin: auto;    
        display: inline-block;   
        flex-wrap: wrap;             
        justify-content: space-between; 
    }
    .product .product-list img{  
        height:410px;
        width: 410px;
        object-fit: cover;
        border-radius: 3px;
    }

    .product .product-item{
        /* display: flex; */
        padding: 10px 10px;        
    }
    .footer{
        font-size: 10px;
    }

}



